body {
  margin: 0 auto;
  font-family: open sans, sans-serif;
}

body p {
  color: #474747;
}

body h3 {
  color: #181818;
}

/* Shared Styles */
.color-primary {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #af4900;
  scale: 1.05;
  transition: ease-in-out 0.25s;
}

.text-center {
  text-align: center;
}

/* header Styles */
header {
  background-image: url("../images/developer.png"), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  margin-left: 230px;
  font-size: 45px;
  font-weight: 800;
}
nav h1 span {
  color: #fd6e0a;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-right: 230px;
}
nav li a {
  text-decoration: none;
  color: #474747;
}
nav li a:hover {
  border-bottom: 2px solid orangered;
}

/* banner style */

.banner-section {
  display: flex;
  align-items: center;
  gap: 50px;
}
.banner-text {
  width: 50%;
  margin-left: 230px;
}
.banner-section img {
  width: 580px;
  margin-right: 35px;
}

.banner-text p {
  text-align: left;
}
.banner-text h3 {
  font-size: 30px;
  font-weight: 600;
}
.banner-text h1 {
  font-size: 60px;
  font-weight: 800;
}

/* About me styles */

.about-me {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 230px;
  margin-right: 230px;
  background-color: #fff8f3;
  padding: 10px;
}

.about-info {
  display: flex;
  justify-content: space-around;
}

.about-details-info {
  margin: none;
  font-weight: bold;
  color: #181818;
}

/* SKILLS */

.Skills {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 230px;
  margin-right: 230px;
  margin-bottom: 100px;
}

.Skills h3,
p {
  text-align: center;
}

.cards p {
  text-align: left;
  font-size: 14px;
  color: #474747;
}

.skill-cards {
  display: flex;
  gap: 50px;
}
.cards {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.cards:hover {
  scale: 1.05;
  transition: ease 0.25s;
}

.cards img {
  height: 30px;
  width: 30px;
}

/* Resume section Styles */

.resume-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-left: 230px;
  margin-right: 230px;
  margin-bottom: 100px;
}

.resume-section p {
  text-align: left;
}
.resume-title {
  text-align: center;
  font-size: 26px;
}
.resume {
  display: flex;
  gap: 50px;
}

.resume-download-btn {
  margin-top: 10px;
}

/* Footer Style */

.footer-section {
  background-color: #fff8f3;
  margin: 0 auto;
  /* margin-left: 230px;
  margin-right: 230px; */
  padding: 100px 230px;
}
.contact-us {
  display: flex;
  gap: 50px;
}
.contact-link p {
  text-align: left;
  color: #474747;
  font-size: 14px;
}
.contact-link img {
  margin-right: 20px;
  cursor: pointer;
}
.contact-link img:hover {
  border-bottom: 2px solid orangered;
}

footer input[type="text"],
input[type="email"] {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
}

footer textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
}
